.wrapper {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}

.wrapper input {
  min-width: 450px;
  min-height: 50px;
  border: 1px solid var(--orange);
  border-radius: 10px;
  font-size: 32px;
}